
.nav-link:hover{
    background-color: grey;
}

.nav-item {
    height: 5rem;
    width: 5rem;
    float: center;
}

.nav-item img {
    margin: auto;
}

body {
  background-size: cover;
  background-image: url("../assets/Dosen.png");
}

.main-section {
  padding: 0;
  margin: 0 auto;
  margin-top: 25%;
}

.text-img {
  font-size: 14px;
  color: #ffffff;
}

.modal-content {
  opacity: 90%;
  padding: 0 0;
  border-radius: 10px;
  background-color: #458d73;
  box-shadow: 0px 0px 3px #ffffff;
}

.logo-img {
  margin-bottom: 20px;
}

.logo-img img {
  height: 5rem;
}

.form-box {
  padding: 2rem;
  padding-bottom: 1rem;
}

.form-group input {
  border: 0;
  height: 38px;
  width: 19rem;
  font-size: 18px;
  border-radius: 5px;
}

button {
  width: 60%;
  margin: 5px 0 25px;
}

.login {
  color: white;
  text-decoration: none !important;
}

.forgot {
  padding: 5px 0;
}

.forgot a {
  color: white;
}

